<div class="container">
  <h1>Meine Note</h1>
  <div class="alert alert-success" role="alert">
    Durchschnitt: {{ averageNote }}
  </div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Fachname</th>
        <th>Note</th>
        <th>Bestanden</th>
        <th>Kategorie</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for(n of noten; track n.id){
      <tr>
        <td>{{ n.id }}</td>
        <td>{{ n.fachname }}</td>
        <td>{{ n.not }}</td>
        @if(n.bestanden){
        <td>JA</td>
        } @else {
        <td>NEIN</td>
        }
        <td>{{ n.kategorie?.lable }}</td>
        <td>
          <button
            class="material-symbols-outlined"
            type="button"
            [routerLink]="['form', n.id]"
          >
            edit
          </button>
        </td>
        <td>
          <button
            class="material-symbols-outlined"
            type="button"
            [routerLink]="['details-seite', n.id]"
          >
            info
          </button>
        </td>
        <td>
          <button
            type="button"
            class="material-symbols-outlined"
            (click)="delete(n)"
          >
            delete
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
<div div class="alert alert-success" role="alert">
  Du hast insgesamt {{ noten.length }}
</div>
